@import './base.css';

#app {
  display: flex;
  font-weight: normal;
  height: 100vh;
}

body {
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: var(--color-heading);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(210, 2%, 53%, 0.276);
  }
}

